.custon-btn {
  outline: none;
  background: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 700;
  border: none;
  transition: all 0.3s;
  cursor: pointer;

  &.outline {
    border: 1px solid #fff;
    background: none;
  }
  &.outline-dark {
    border: 1px solid #000;
    background: none;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
  &.dark {
    color: #000;
  }
}

.custon-btn.outline:hover {
  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.3s;
  }
}
