.trailer {
  position: relative;
  top: 0;
  bottom: 0;
  .trailer-title {
    position: absolute;
    left: 25px;
    bottom: 0;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    span:hover {
      color: var(--primary-color);
      transition: all 0.3s;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }

    &:hover svg {
      fill: #000;
    }
  }
}
