#festival-programs {
  .festival-table {
    h4 {
      font-size: clamp(0.875rem, -0.2033rem + 3.0374vw, 1.6875rem);
      max-width: 50%;
      font-weight: 600;
    }
    .border-r {
      border-right: 1px solid #000;
    }
    .row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
    }
  }
}
